.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orange;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-purple {
    background-color: purple;
}

.bg-pink {
    background-color: pink;
}